@use "../../partials/" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px 0 30px 0;
  height: 100vh;
  width: 283px;
  overflow-y: auto;
  z-index: 999;
  background-color: $white;
  box-shadow: $box-shadow;
  transition: $transition;

  @media (max-width: 992px) {
    left: -10000px;
  }

  &.sidebar--open {
    left: -10000px;

    @media (max-width: 992px) {
      left: 0px;
    }
  }
  .search-bar {
    position: relative;
    border: 1px solid $light-blue;
    border-radius: 3px;
    width: 100%;
    display: none;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      display: flex;
    }

    input {
      padding: 10px;
      border: none;
      outline: none;
      width: 100%;
      font-size: 14px;
    }
    button {
      border: none;
      outline: none;
      background-color: $deepskyblue-color;
      padding: 10px 12px;
      cursor: pointer;
    }
  }
  .p-text {
    font-size: 16px;
    color: $blue-color;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;

    .p-text-img {
      margin-right: 10px;
    }
  }
  .contt {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .psmall {
      color: $grey;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      padding-left: 20px;
      margin-bottom: 10px;
    }
    .link-text {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      position: relative;
      font-size: 16px;
      text-decoration: none;
      margin-bottom: 5px;
      color: $blue-color;

      .link-text-img {
        margin-right: 10px;
      }
    }
    .link-text--disabled {
      cursor: default;
      opacity: 0.45;
      pointer-events: none;
    }
    .link-text.active {
      background-color: rgba(57, 205, 204, 0.06);
      border-left: 3px solid $deepskyblue-color;
    }
  }
}
