@use "../../partials/" as *;


.form-filter{
    position: absolute;
    left: 30px;
    top: 320px;    
    z-index: 99;

    @media (max-width: 768px){
        top: 490px;
    }

    form{
        width: 290px;
        background-color: $white;
        padding: 20px;
        box-shadow: $box-shadow;
        border: 2px solid rgba(33, 63, 125, 0.06);
        border-radius: 10px;
        display: flex;
        flex-direction: column;


        label{
            font-size: 14px;
            margin-bottom: 7px;

        }

        input, select, button{
            padding: 10px 15px;
            outline: none;
            font-size: 14px;
            border: 1px solid $light-blue;
            border-radius: 8px;
            margin-bottom: 20px;
            background-color: transparent;
        }
        .but-btn{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            button{
                cursor: pointer;
                margin-bottom: 0;
            }
            .btn-2{
                background-color: $deepskyblue-color;
                color: $white;
            }
        }
    }
    .show-filter-btn{ 
        padding: 10px 15px;
        outline: none;
        font-size: 14px;
        border: none;
        border-radius: 8px;
        background-color: $deepskyblue-color;
        color: $white;
        transform: translate(170px, -100px);
        cursor: pointer;
    }
    .custom-alert {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 996;

        .alert-box {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;

            p {
                margin-bottom: 15px;
                font-size: 16px;
            }
            button {
                padding: 8px 16px;
                background-color: $blacklist;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    
    
}


