@use "../../partials/" as *;

.content-body{    
    .container{       

        .user-p{
            font-size: 24px;
            color: $blue-color;
            font-weight: 500;
        }

        .pshow{
            margin-top: 30px;
            font-size: 14px;
            color: $grey;
            display: flex;
            align-items: center;
            
            .spanshow{
                padding: 7px;
                border-radius: 4px;
                background-color: #213F7D1A;
                margin: 0 6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .card-group{
            margin-top: 15px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(3,1fr);
            }

            @media (max-width: 578px) {
                grid-template-columns: repeat(2,1fr);
            }

            .card{
                background-color: $white;
                padding: 20px;
                box-shadow: $box-shadow;
                border: 1px solid rgba(33, 63, 125, 0.06);
                border-radius: 4px;
            }
            .cd-p-s{
                font-size: 12px;
                text-transform: uppercase;
                color: $grey;
                margin: 10px 0;
            }
            .cd-p-b{
                font-size: 24px;
                color: $blue-color;
                font-weight: 600;
            }
        }
        .mock-body{
            position: relative;
            margin-top: 15px;
            background-color: $white;
            padding: 20px;
            box-shadow: $box-shadow;
            border: 1px solid rgba(33, 63, 125, 0.06);
            border-radius: 4px;
            margin-bottom: 30px;

            .t-top{
                width: 100%;
                display: grid;
                margin-bottom: 35px;
                gap: 30px 10px;
                grid-template-columns: repeat(6, 1fr) 0.3fr;

                @media (max-width: 1050px) {
                    display: none;
                }

                .p-fl{                    
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    color: $grey;
                    
                    img{
                        margin-left: 5px;
                    }
                }

            }
            .moc-di{

                @media (max-width:1050px) {
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                
                &:last-child .flex-table{
                    border-bottom: none;
                    margin-bottom: 0;
                }

                .flex-table{
                    position: relative;
                    width: 100%;
                    display: grid;
                    gap: 30px 10px;
                    grid-template-columns: repeat(6, 1fr) 0.3fr;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid $light-blue;

                
                    @media (max-width: 1050px) {
                        grid-template-columns: subgrid;
                        margin-bottom: 40px;
                        padding-bottom: 35px;
                        
                    }

                    .p-fl{                    
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        color: $grey;                        
                    }
                }

                .flex-table.t-none{
                    display: none;

                    @media (max-width: 1050px) {
                        display: grid;
                    }
                }

                .flex-table.two{
                    position: relative;

                    @media (max-width: 1050px) {
                        text-align: right;
                    }
                    .p-f2{
                        font-size: 12px;
                        color: $grey;

                        @media (max-width: 1050px) {
                            font-size: 14px;
                        }

                        .inactive,
                        .active,
                        .pending,
                        .blacklist{
                            font-size: 12px;
                            padding: 5px 12px;
                            font-weight: 500;
                            border-radius: 100px;

                            @media (max-width: 1050px) {
                                font-size: 14px;
                            }
                        }
                        .inactive{
                            background-color: $inactiveGradient;
                            color: $inactive;
                        }
                        .active{
                            background-color: $activeGradient;
                            color: $active;
                        }
                        .pending{
                            background-color: $pendingGradient;
                            color: $pending;
                        }
                        .blacklist{
                            background-color:  $blacklistGradient;
                            color: $blacklist;
                        }
                    }
                    .imgflick{
                        cursor: pointer;

                        @media (max-width: 1050px) {
                            position: absolute;
                            right: 0;
                            top: -30px;
                            transform: rotate(90deg);
                        }
                    }
                    .ab-modal{
                        position: absolute;
                        right: 0;
                        top: -5px;
                        background-color: $white;
                        box-shadow: $box-shadow;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        padding: 10px 20px;
                        border-radius: 5px;
                        width: 180px;
                        height: 130px;
                        z-index: 99;
                        border: 1px solid $light-blue;

                        @media (max-width: 1050px) {
                            top: -25px;
                        }

                        p{
                            cursor: pointer;
                            padding: 7px 0;
                            font-size: 14px;
                            font-weight: 500;
                            color: $grey;
                            display: flex;
                            align-items: center;

                            a{
                                text-decoration: none;
                                color: $grey;
                            }

                            img{
                                margin-right: 8px;
                            }

                            @media (max-width: 1050px) {
                                text-align: left;
                            }
                        }
                    }
                }
            }
            
        }

        .down-flex{
            display: flex;
            justify-content: flex-end;
            
            
            .pagination{
                display: flex;
                align-items: center;

                
                button{
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    padding: 7px 10px;
                    margin-left: 5px;
                    cursor: pointer;
                }
                .active-page {
                    font-weight: bold;
                    color: blue;
                }
            }
            
        }
}
}

