@use "partials" as *;

body{
  background-color: $bg-color;  
}
.content-body{
  margin-top: 100px;
  margin-left: 300px;    
  margin-bottom: 60px;

  @include respond-to(medium) {
      margin-left: 0;
  }
}

.container{
  position: relative;
  padding: 0 20px;
}

